<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>abbozza! Monitor</string> 
	<key>CFBundleExecutable</key>
	<string>abbozzaMonitor</string>
	<key>CFBundleIconFile</key>
	<string>abbozza_monitor</string>
	<key>CFBundleIdentifier</key>
	<string>de.uos.inf.abbozza.calliope.monitor</string>
	<key>CFBundleName</key>
	<string>abbozza! Monitor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
